// .table {
//   margin-top: 80px;
//   // border: royalblue ;
//   // border-style: solid;
// }

.rectangle  {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}
.sender-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
margin: 0 auto;
font-size: 50px;
}
